body{
    margin: 0;
}
.main-container{
    z-index: -1;
    padding: 4rem 1rem 1rem 1rem;
}
.item-container {
    display: flex;
    height: 50px;
    align-items: center;
}
.item-container:hover {
    background: linear-gradient(90deg, var(--dar-blue), transparent);
}
.item-container > .inline-button{
    border-radius: 0 0 0 20px;
    height: 100%;
    margin: 0 0 0 auto;
}
.item-name {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding-left: 0.5rem;
}
.item-quantity{
    text-align: center;
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.overlay-fullscreen{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
}
.overlay-fullscreen-container{
    position: absolute;
    height: fit-content;
    width: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0,0,0,0.85);
    padding: 1rem;
    border: 2px var(--main-color) solid;
    border-radius: 0.5rem;
}
.container-listed-warehouses{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.container-warehouse{
    min-width: 45vw;
    max-width: 45vw;
}
.container-users{
    z-index: -1;
    position: absolute;
    width: 85vw;
    left: 50%;
    transform: translate(-50%);
}
.container-users-body{
    overflow: hidden;
    background: linear-gradient(0deg,var(--black), var(--dark-gray));
    background: var(--black);
    border: double 2px transparent;
    border-radius: 1rem 0 0 1rem;
    background-image: linear-gradient(var(--dark-gray), var(--black)), radial-gradient(at left, var(--main-color) 50%, transparent);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.users-details{
    width: 40%;
}
.users-id{
    width: 15%;
}
.sort-header:hover{
    height: 100%;
    transition: color 100ms ease-in-out;
    color: var(--secondary-color);
 }
.user-role-checkers{
    position: relative;
    left: -1.3rem;
}
.container-box{
    background: var(--dark-gray);
    color: var(--main-color);

    height: fit-content;
    border-radius: 1rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin-bottom: 1.5rem;
}
.container-body{
    overflow: hidden;
    background: var(--black);
    border: double 2px transparent;
    border-radius: 1rem;
    background-image: linear-gradient(var(--dark-gray), var(--black)), radial-gradient(at left top, var(--main-color) 10%, transparent);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.container-body > .container-inner-body{
    max-height: 250px;
    overflow-y: auto;
}
.container-inner-body::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: linear-gradient(0deg, var(--dark-gray), var(--bright-gray));
}
.container-inner-body::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 0 0 0 transparent;
}
.container-header{
    overflow-x: hidden;
}
.container-header > h4{
    color: rgba(var(--main-color-alpha), 0.5);
}
.align-horizontal{
    display: flex;
}
.align-vertical{
    vertical-align: center;
    text-align: center;
    align-items: center;
}
.warehouse-operator-buttons{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    z-index: 3;
}
.warehouse-operator-buttons > button{
    margin-inline: 1rem;
}
.transfer-view-button{
    margin: 0;
    border-radius: 0 0 1rem 0;
    background: var(--bright-gray);
    color: var(--main-color);
}
.transfer-view-button-clicked{
    z-index: 1;
    margin: 0;
    border-radius: 0 0 1rem 0;
    background: var(--main-color);
    color: black;
}
.transfer-button{
    position: relative;
    left: -0.8rem;
    border-radius: 1rem 0 1rem 0;
}
.transfer-button:active{
    transform: scale(1);
}
.storage-button{
    position: relative;
    left: 0;
}
.storage-button:active{
    transform: scale(1);
}
.remove-button{
    position: relative;
    float: right;
    border-radius: 0 0 0 1rem;
    background: #d91919;
    color: black;
    border: black;
}
.remove-button:active{
    background: red;
    transform: scale(1);
 }
.text-info{
    padding-inline: 1rem;
}
.transaction-container-body{
    overflow: clip;
    background: var(--black);
    border: double 2px transparent;
    border-radius: 1rem;
    background-image: linear-gradient(var(--dark-gray), var(--black)), radial-gradient(at left top, var(--main-color) 10%, transparent);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.transaction-container-inner-body{
    max-height: 75vh;
    overflow-x: clip;
    overflow-y: auto;
}
.transaction-container-inner-body::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: linear-gradient(0deg, var(--dark-gray), var(--bright-gray));
}
.transaction-container-inner-body::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 0 0 0 transparent;
}
.transaction-line{
    width: 100%;
    padding-inline: 0.5rem;
}
.transaction-location{
    width:calc(100% / 3);
    text-overflow: ellipsis;
    overflow-x: clip;
}
.transaction-date{
    width: calc(100% / 6);
    text-overflow: ellipsis;
    overflow-x: clip;
}
.transaction-view-button{
    width: 20vw;
}
.selected-button{
    background: var(--main-color);
    color: black;
}
.image-email{
    margin-inline: 1rem;
    background: var(--black);
    mask-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    -webkit-mask-image: url(../../public/images/envelope.svg);
    mask-image: url(../../public/images/envelope.svg);
}
.image-logo{
    background: var(--black);
    -webkit-mask-image: url(../../public/images/WareDrop_logoSVG.svg);
    mask-image: url(../../public/images/WareDrop_logoSVG.svg);
    mask-size: cover;
    width: 20rem;
    height: 15rem;
}
.contact-container{
    background: linear-gradient(90deg, var(--secondary-color), var(--main-color));
    border-radius: 1rem;
    border: 3px solid var(--black);
    overflow: clip;
}